*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid ;
}
.card .card-body span img{
    margin-left: 3px;
}
.name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}
.email{
    margin-left: 10px;
    color: grey;
    font-size: 15px;
}
.salary{
    position: absolute;
    right: 1rem;
}
.map{
    display: flex;
    align-items: center;
}
.box{
    display: flex;
}
.box-1{
    width: 33%;
    margin-top: 15px;
}
.box-2{
    position: absolute;
    left: 47%;
    margin-top: 15px;
    width: 53%;
}
.framework{
    font-size: 15px;
    color: grey;
}
.sale{
    position: absolute;
    right: 4%;
}
.card{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
}
.table .tableCell {
    align-self: center;
}
.table .status {
    padding: 5px;
    border-bottom: 5px;
    border-radius: 10px;
}
.table .status.Completed {
    color: green;
    background-color: rgba(0, 128, 0, 0.151);
}
.table .status.Cancelled {
    color: red;
    background-color: rgb(229, 185, 185);
}
.table .status.In{
    color: blueviolet;
    background-color: #a5c2f5;
}
.table{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
}
.listContainer {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
}
.listContainer .listTitle h4 {
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-bottom: 5px;
}
.listContainer .listTitle p {
    font-size: 14px;
    color: gray;
}
.listTitle {
    margin-bottom: 15px;
}

@media (max-width: 467px) {
    .box{
        display: inline-block;
        width: 100%;
        height: max-content;
    }
    .box-1{
        width: 100%;
    }
    .box-2{
        width: 100%;
        position: revert;
    }
    .tab{
        border: 1px solid red;
    }
}
@media (min-width: 467.1px) and (max-width: 768px){
    .box{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .box-1{
        flex: 48%;
        max-width: 48%;
        font-size: 14px;
    }
    .box-2{
        max-width: 48%;
        position: revert;
        margin-left: 1%;
        font-size: 14px;
    }
}
@media (min-width: 768.1px) and (max-width: 989px){
    .box{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .box-1{
        width: 49%;
    }
    .box-2{
        width: 49%;
        position: revert;
        margin-left: 1%;
    }
}

@media (min-width: 989.1px) {
    .box{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .box-1{
        width: 49%;
    }
    .box-2{
        width: 49%;
        position: revert;
        margin-left: 1%;
    }
}
