.footer{
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-icons{
 display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    font-size: 18px;
}
.footer-text p{
    margin: 0;
    color: gray;
    font-size: 14px;
}
@media (max-width: 467px) {
    .footer{
        display: block;
        gap: 15px;
    }
    .footer-text p{
        margin-bottom: 1rem;
    }

}

@media (min-width: 467.1px) and (max-width: 768px){
    .footer{
        display: block;
    }
    .footer-text p{
      margin-bottom: 1rem;
    }
}
