*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html. body{
    height: 100vh;
}
body{
    font-size: 16px;
}
.main{
    display: flex;
    height: 100vh;
}

.sidebar:hover{
    width: 280px;
}
.nav{
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navIcon{
    margin-left: 2rem;
    font-size: 2rem;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.sidebarlink{
    display: flex;
    color: #000;
}
.sidebar{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    color: #000;
    text-decoration: none;
    height: max-content;
    width: 300px;
    transition:  all 0.5s ease;
}
.sidebar2{
    transition:  all 0.5s ease;
    overflow: hidden;
    width: 50px;
}

