*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html. body{
    height: 100vh;
}
body{
    font-size: 16px;
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{

    display: flex;
    width: 280px;
    height: 100%;
    overflow: auto;
    background: red;
}
.nav{
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navIcon{
    margin-left: 2rem;
    font-size: 2rem;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.sidebarlink{
    display: flex;
    color: #000;
}
.sidebar{
    background: #ffffff;
    color: #000;
    text-decoration: none;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
